body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2em;
}

article {
    background: white;
    padding: 1em;
    margin: 1em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden; /* Görsellerin köşeleri yuvarlatılması için */
}

article img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
}

article h2 {
    color: #333;
}

article p {
    color: #666;
}

footer p {
    margin: 0;
}
